/* You can add global styles to this file, and also import other style files */
// @import url(../src/environments/environment.ts);

$myVariable : "http://localhost:4202";
*{
    font-family: 'Courier New', Courier, monospace;
}

.test{
    background-image: url($myVariable +'/assets/logo.jpg');
    height: 100px;
    width: 100px;
}